body{
    margin: 0;
    font-family: sans-serif;
  }
  
  .max-width{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo img{
    width: 200px;
  }
  
  /* Hero Section Start */
  
  #hero-section{
    background: url(./images.css/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
  }
  
  .menu-icon{
    display: none;
  }
  
  header{
    display: flex;
    justify-content: space-between;
  }
  
  header a{
    text-decoration: none;
    color: white;
    transition: color 0.25s;
  }
  
  header a:hover{
    color: var(--coral-red);
  }
  
  nav ul{
   display: flex;
   list-style: none;
   gap: 20px;
   font-size: 18px;
   cursor: pointer;
  }
  
  .hero-center{
    max-width: 600px;
    margin: 200px auto 20px;
    text-align: center;
    color: white;
  }
  
  .hero-center h1{
    font-size: 25px;
    margin-bottom: -15px;
  }
  
  .hero-center p{
    font-size: 14px;
  }
  
   button{
    border: none;
    color: white;
    background-color: var(--coral-red);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
   button:hover{
    opacity: 0.9;
  }
  