body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
}


header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row; 
}

article {
    flex: 2;
    padding: 10px;
    background-color: #f4f4f9;
    overflow-y: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
}
article p {
    line-height: 1.6;
    margin-bottom: 15px;
}
aside {
    flex: 1;
    padding: 10px;
    background-color: #e9ecef;
    overflow-y: auto;
}